<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <script>
fetch('http://localhost:4000/clientes')
.then(response => response.json())
.then(clientes => {
    const tabela = document.querySelector('tbody');
    clientes.forEach(cliente => {
        const row = document.createElement('tr');
        row.innerHTML = `
        <td>${cliente.id}</td>
        <td>${cliente.nome}</td>
        <td>${cliente.cpf}</td>
        <td>${cliente.email}</td>
        <td>${cliente.endereco}</td>
        <button onclick="excluirCliente(${cliente.id})">Excluir</button>
        <button onclick="editarCliente(${cliente.id})">Editar</button>
        `;
        tabela.appendChild(row);
    });
    
})
.catch(error => {
    console.error("Erro ao buscar clientes");
});

function excluirCliente(clienteId) {
    // Faz a requisição DELETE para o endpoint /clientes/{clienteId}
    fetch(`http://localhost:4000/delete/cliente/${clienteId}`, { method: 'DELETE' })
      .then(response => {
        if (response.ok) {
          // Atualiza a tabela removendo a linha correspondente ao cliente excluído
          const row = document.querySelector(`tr[data-cliente-id="${clienteId}"]`);
          if (row) {
            row.remove();
          }
        }
      });
  }

  function editarCliente(clienteId) {
    window.location.href = `http://localhost:4000/atualizar/cliente/${clienteId}`;
  }
    </script>
</head>
<body>
    <header>
        <h1>Clientes cadastrados no Letriz</h1>
    </header>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Endereço</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>



</body>
</html>